name: issue-notify
on:
  issues:
    types: [opened]

jobs:
  get-keyword:
    runs-on: ubuntu-latest
    outputs:
      level: ${{ steps.get-keyword.outputs.level }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name : get keyword
        id: get-keyword
        run : |
          echo level=Undefined >> $GITHUB_OUTPUT

          keywords=$(cat keyword-list.txt)
          for keyword in $keywords; do
            if [[ "${{ github.event.issue.title }}" =~ "$keyword" ]]; then
              echo level=$keyword >> $GITHUB_OUTPUT
            fi
          done
      - name: get output
        run: echo ${{ steps.get-keyword.outputs.level }}

  slack:
    needs: [get-keyword]
    if: needs.get-keyword.outputs.level != 'Undefined'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ["${{needs.get-keyword.outputs.level}}"]
    environment: ${{matrix.environment}}
    # environment: ${{needs.get-keyword.outputs.level}}
    steps:
      - name: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "attachments": [
                {
                  "pretext": "issue alert message",
                  "color": "28a745",
                  "fields": [
                    {
                      "title": "Level : ${{needs.get-keyword.outputs.level}}",
                      "short": true,
                      "value": "issue url : ${{github.event.issue.html_url}}"
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK




# - 이슈들의 중요도에 따라 슬랙으로 팀원에게 알리는 일 담당
# - 수동으로 이슈를 각 채널에 공유
# - 이슈 생성 시, 이슈 이름에 대한 규칙
#     - ‘critical’ 키워드가 있다면
#         - 슬랙의 critical-issue 채널로 공유
#     - ‘normal’ 키워드가 있다면
#         - 슬랙의 normal-issue 채널로 공유

# ### 워크플로우 구성

# - 이슈가 생성될 때 실행
# - 특정 키워드가 포함되면 슬랙으로 공유
# - 키워드는 변동사항 생길 수 있음(추가, 삭제 등)
# - 트리거 구성
#     - 이슈가 생성될 때 실행
#         - issue event
#         - types: [opened]
# - 잡 구성
#     1. jobs(단일 job)
#         1. 첫 번째 step : if critical
#             1. 슬랙의 critical-issue 채널로 공유
#         2. 두 번째 step : if normal
#             1. 슬랙의 normal-issue 채널로 공유
#         - 키워드가 추가되면, if condition을 사용해서 스텝을 계속 추가해야함.
#         - 추가적인 요구사항 → 단일 잡의 복잡성 증가
#         - 어떻게 복잡성을 줄일 수 있을까?
#         - 어떻게 관리하기 편하게 구성할 수 있을까?
#         - 복잡성을 줄이는 방법
#             - 키워드 관리
#                 - 깃헙액션 워크플로우에서 관리한다면?
#                     - 키워드에 변동사항 생길 때, 깃헙액션 코드를 수정해야함
#                 - 깃헙액션 워크프로우에서 관리x
#                     - 외부에서 관리 o → ex) ketword-list.txt
#                     - 깃헙액션 워크플로우 크로직 유지(코드 수정 x)
#             - slack step 사용 구조
#                 - 키워드가 5개
#                     - slack step 5개
#                         - if keyword==’critical’
#                             - slack:critical-issue
#                         - if keyword==’normal’
#                             - slack:’normal’-issue
#                     - 키워드 개수만큼 slack step 사용하는 구조라면 동일한 수정 사항 반영 위해  5개 step 업데이트
#                     - 관리하기 어려워짐
#                     - 키워드 개수와 상관없이 slack step 1개 사용
#                     - 깃헙액션 워크플로우 로직 유지 (코드 수정x)
#             - 동일한 슬랙 웹훅 이름 사용
#                 - 슬랙 웹훅 URL = 특정 채널
#                     - critical-issue의 슬랙 웹훅 URL
#                         - ${{secrets.critical-issue}}
#                     - normal-issue의 슬랙 웹훅 URL
#                         - ${{secrets.normal-issue}}
#                     - high-issue의 슬랙 웹훅
#                         - ${{secrets.high-issue}}
#                     - critical, normal, high, etc
#                         - ${{secrets.SLACK_WEBHOOK}}
#                     - environment
#                         - environment:critical
#                             - ${{secrets.SLACK_WEBHOOK}}
#                         - environment:normal
#                             - ${{secrets.SLACK_WEBHOOK}}
#                 - jobs (2개 사용)
#                     - 첫 번째 job : get-keyword
#                         - keyword-list.txt 사용
#                         - 이슈 제목이 키워드 리스트에 있다면 그 값을 아웃풋으로 구성
#                     - 두 번째 Job : slack
#                         - get-keyword의 아웃풋을 받아서 environment로 사용
#                             - ex)
#                                 - environment: critical
#                         - 슬랙으로 메세지 전송
#                     - 키워드가 추가될 때
#                         - 깃헙액션 로직 수정x
#                         - keyword-list에 키워드 추가
#                         - environment 생성 + 슬랙 웹훅 설정
#                     - 키워드가 삭제될 때
#                         - 깃헙액션 로직 수정x
#                         - keyword-list에 키워드 제거
#                         - environment 제거